@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
    text-decoration: none;
}

a:hover,
.btn-link:hover {
    text-decoration: none;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

/* Header */
.header {
    display: block;
    background-color: #d0b02e;
    background-image: url("/images/header-back.png");
    background-repeat: repeat;
    background-position: bottom;
}

    .header img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Top Search Bar Row */
    .header .ui-panel {
        padding: 1rem 3rem;
    }

    .header .ui-panel-content {
        display: flex;
        align-items: center;
        margin: 0;
    }

        .header .ui-panel-content img {
            margin: 0;
            margin-right: 3rem;
        }

        .header .ui-panel-content i {
            margin-right: 1.5rem;
            color: #3a474d;
        }

        .header .ui-panel-content .textbox {
            min-width: 20%;
            border: 1px solid #3a474d;
            border-right: none;
            border-radius: 4px 0 0 4px;
        }

            .header .ui-panel-content .textbox:focus {
                outline: none;
                border: 3px solid #479cc8;
                border-right: none;
            }

        .header .ui-panel-content .ui-button {
            min-width: 10%;
            border-radius: 0 4px 4px 0;
            background-color: #d0b02e;
        }

            .header .ui-panel-content .ui-button:hover {
                background-color: #479cc8;
            }

/* NAVIGATION MENU */
.menu {
    display: flex;
    justify-content: space-evenly;
}

.navigation-item-link:hover {
    cursor: pointer;
}

.card {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

/*  ??? DEFAULT BLAZOR BOOTSTRAP    ??? */
.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* RESTAURANTS : FILTER SECTION */

.filter-section {
    min-width: max-content;
}

/* Ordering */
.ordering-for-button-set {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
    .ordering-for-button-set .ui-button {
        display: inline-block;
        width: 40%;
        padding: 0;
        margin: .5rem auto;
    }

/* Cuisine */
.cuisine-button-set {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: .2rem;
}
    .cuisine-button-set .ui-button {
        padding: .2rem;
        min-width: max-content;
    }

/* Category */
.category-button-set {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: .2rem;
}
    .category-button-set .ui-button {
        padding: .2rem;
        min-width: max-content;
    }

/* Tags */
.tags-button-set {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-gap: .2rem;
}
    .tags-button-set .ui-button {
        padding: .2rem;
        min-width: max-content;
    }

.ui-selectbutton .ui-button .ui-button-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}

/* When filters are in dropdown form */
.filter-dropdown-mode {
    display: block;
}

/* RESTAURANTS : RESTAURANT CARDS */
.ui-g {
    display: flex; 
}

    .ui-g .card {
        display: flex;
        flex-direction: column;
        flex: 1 2 0;
        min-height: 19rem;
        min-width: 20rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border: 3px solid #d0b02e;
        border-radius: 20px;
    }

        .ui-g .card > div,
        .ui-g .card > b {
            flex: 1;
        }

            .ui-g .card > div:first-child {
                display: none;
            }

        .ui-g .card b a {
            color: #479cc8;
            font-size: 1.2rem;
        }

            .ui-g .card b a:hover {
                color: #d0b02e;
            }


/* RESTAURANT HERO PAGES */
.contain {
    width: 80%;
    margin: 0 auto;
}

.contain .d-flex {
    margin-bottom: 2rem;
    justify-content: space-between;
}

/* Hero Pages: Stats Section */
.stat-display {
    flex: 2;
}

    /* stat buttons */
    .stat-buttons {
        margin: 1rem 0;
        display: flex;
        justify-content: space-evenly;
    }

        .stat-buttons button {
            border-radius: 20px;
            background-color: #479cc8;
        }

    /* stat Specials */

    .special {
        display: block;
        height: 6rem;
        width: 100%;
        resize: none;
        border-radius: 20px;
        border: 1px solid lightgray;
    }
    
        .special:not(:last-child) {
            margin-bottom: 2rem;
        }

    .textarea:disabled {
        border: 3px solid #d0b02e;
    }
/* Hero Pages: Map Section */
.map-display {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .map-display img {
        min-width: 20%;
    }

/* Hero Pages: Delivery Options */
.contain .ui-g .ui-panel {
    border: 3px solid #d0b02e;
    border-radius: 20px;
    max-width: 100%;
}

    .contain .ui-g .ui-panel-content-wrapper {
        height: 100%;
    }

        .contain .ui-g .ui-panel-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
        }

        .contain .ui-g .ui-panel-content img {
            max-width: 100%;
            max-height: 6rem;
        }

        .service-logo,
        .service-name {
            display: block;
        }




/* \\\\\    MEDIA QUERIES   ///// */

/* (Tablet / Small Desktop View) */
@media(max-width: 1300px) {
    /* MAIN LAYOUT */

    /* Stack - Filter Section / Restaurant Cards */
    .home-flex {
        flex-direction: column;
    }

    /* Span filter section */
    .filter-section {
        max-width: 100%;
    }

    /* 5 Filter buttons per row  */
    .ordering-for-button-set,
    .cuisine-button-set,
    .category-button-set,
    .tags-button-set {
        grid-template-columns: repeat(5, auto);
    }


    /* RESTAURANT HERO PAGES */

    /* Stack Restaurant Hero Pages */
    .stat-display,
    .map-display {
        flex: 1;
        margin-right: 0;
    }

    .restaurant-flex {
        flex-direction: column;
    }

    .stat-buttons button{
        width: 25%;
    }

    .map-display {
        margin-top: 2rem;
    }

        .map-display img {
            width: 100%
        }
}

@media(max-width: 1050px) {
    /* RESTAURANT HERO PAGES */

    .stat-buttons button{
        width: 30%;
    }
}


@media (max-width: 767.98px) {

    /* RESTAURANT HERO PAGES */

    /* Stack Buttons */
    .stat-buttons {
        flex-direction: column;
    }
        .stat-buttons button {
            width: 80%;
            margin: .5rem auto;
        }


/* 
        CONTRIBUTE PAGE 
*/

.contribute-box {
    display: flex;
    flex-direction: column;
}

    /*  ??? BLAZOR DEFAULT BOOTSTRAP ??? */
    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }
}