@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
}

a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

app {
    position: relative;
    display: flex;
    flex-direction: column;
}

.top-row {
    height: 3.5rem;
    display: flex;
    align-items: center;
}

/* Header */
.header {
    display: block;
    background-color: #d0b02e;
    background-image: url("/images/header-back.png");
    background-repeat: repeat;
    background-position: bottom;
}

    .header img {
        max-width: 100%;
        display: block;
        margin: 0 auto;
    }

    /* Top Search Bar Row */
    .header .ui-panel {
        padding: 1rem 3rem;
    }

    .header .ui-panel-content {
        display: flex;
        align-items: center;
        margin: 0;
    }

        .header .ui-panel-content img {
            margin: 0;
            margin-right: 3rem;
        }

        .header .ui-panel-content i {
            margin-right: 1.5rem;
            color: #3a474d;
        }

        .header .ui-panel-content .textbox {
            min-width: 20%;
            border: 1px solid #3a474d;
            border-right: none;
            border-radius: 4px 0 0 4px;
        }

            .header .ui-panel-content .textbox:focus {
                outline: none;
                border: 3px solid #479cc8;
                border-right: none;
            }

        .header .ui-panel-content .ui-button {
            min-width: 10%;
            border-radius: 0 4px 4px 0;
            background-color: #d0b02e;
        }

            .header .ui-panel-content .ui-button:hover {
                background-color: #479cc8;
            }

.menu {
    display: flex;
    justify-content: space-evenly;
}

.navigation-item-link:hover {
    cursor: pointer;
}

.card {
    text-align: center;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.main {
    flex: 1;
}

    .main .top-row {
        background-color: #f7f7f7;
        border-bottom: 1px solid #d6d5d5;
        justify-content: flex-end;
    }

        .main .top-row > a, .main .top-row .btn-link {
            white-space: nowrap;
            margin-left: 1.5rem;
        }

        .main .top-row a:first-child {
            overflow: hidden;
            text-overflow: ellipsis;
        }

.sidebar {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

    .sidebar .top-row {
        background-color: rgba(0,0,0,0.4);
    }

    .sidebar .navbar-brand {
        font-size: 1.1rem;
    }

    .sidebar .oi {
        width: 2rem;
        font-size: 1.1rem;
        vertical-align: text-top;
        top: -2px;
    }

    .sidebar .nav-item {
        font-size: 0.9rem;
        padding-bottom: 0.5rem;
    }

        .sidebar .nav-item:first-of-type {
            padding-top: 1rem;
        }

        .sidebar .nav-item:last-of-type {
            padding-bottom: 1rem;
        }

        .sidebar .nav-item a {
            color: #d7d7d7;
            border-radius: 4px;
            height: 3rem;
            display: flex;
            align-items: center;
            line-height: 3rem;
        }

            .sidebar .nav-item a.active {
                background-color: rgba(255,255,255,0.25);
                color: white;
            }

            .sidebar .nav-item a:hover {
                background-color: rgba(255,255,255,0.1);
                color: white;
            }

.content {
    padding-top: 1.1rem;
}

.navbar-toggler {
    background-color: rgba(255, 255, 255, 0.1);
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

    #blazor-error-ui .dismiss {
        cursor: pointer;
        position: absolute;
        right: 0.75rem;
        top: 0.5rem;
    }


/* Restaurants: Filter Section */
.ui-selectbutton {
    display: block;
    margin-bottom: .5rem;
}

.ui-chkbox:focus  {
    outline: none;
    border: 3px solid #479cc8;
    border-radius: 4px;
}

.ui-buttonset-4 .ui-button {
    display: inline-block;
    width: 25%;
    padding: 0;
}

.ui-selectbutton .ui-button .ui-button-text {
    display: inline-block;
    width: 100%;
    text-align: center;
}

.ui-buttonset-4 + span {
    display: block;
    height: 2rem;
}


/* Restaurants: Restaurant Cards */
.ui-g {
    display: flex; 
}

    .ui-g .card {
        display: flex;
        flex-direction: column;
        flex: 1 2 0;
        min-height: 19rem;
        min-width: 20rem;
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, 0.2);
        overflow: hidden;
        border: 3px solid #d0b02e;
        border-radius: 20px;
    }

        .ui-g .card > div,
        .ui-g .card > b {
            flex: 1;
        }

            .ui-g .card > div:first-child {
                display: none;
            }

        .ui-g .card b a {
            color: #479cc8;
            font-size: 1.2rem;
        }

            .ui-g .card b a:hover {
                color: #d0b02e;
            }


/* Restaurant Hero Pages */
.contain {
    width: 80%;
    margin: 0 auto;
}

.contain .d-flex {
    margin-bottom: 2rem;
    justify-content: space-between;
}

/* Hero Pages: Stats Section */
.stat-display {
    flex: 2;
}

    /* stat buttons */
    .stat-buttons {
        margin: 1rem 0;
        display: flex;
        justify-content: space-evenly;
    }

        .stat-buttons button {
            border-radius: 20px;
            background-color: #479cc8;
        }

    /* stat Specials */
    .special {
        display: block;
        height: 6rem;
        width: 100%;
        resize: none;
        border-radius: 20px;
        border: 1px solid lightgray;
    }
    
        .special:not(:last-child) {
            margin-bottom: 2rem;
        }
    
        .special:focus,
        .special:hover {
            outline: none;
            border: 3px solid #479cc8;
        }

/* Hero Pages: Map Section */
.map-display {
    flex: 2;
    display: flex;
    justify-content: center;
    align-items: center;
}

    .map-display img {
        min-width: 20%;
    }

/* Hero Pages: Delivery Options */
.contain .ui-g .ui-panel {
    border: 3px solid #d0b02e;
    border-radius: 20px;
    max-width: 100%;
}

    .contain .ui-g .ui-panel-content-wrapper {
        height: 100%;
    }

        .contain .ui-g .ui-panel-content {
            display: flex;
            justify-content: center;
            align-items: center;
            height: 100%;
            margin: 0;
        }

        .contain .ui-g .ui-panel-content img {
            max-width: 100%;
            max-height: 6rem;
        }


/* \\\\\    MEDIA QUERIES   ///// */

/* Collapse Restaurant Filter Section */
@media(max-width: 1300px) {
    .home-flex {
        flex-direction: column;
    }

        .home-flex .col-3 {
            max-width: 100%;
        }

            .home-flex .col-3 .ui-fieldset-content {
                display: flex;
                justify-content: space-around;
            }

    .ui-selectbutton {
        display: block;
        margin-bottom: .5rem;
    }

    .col-3 .ui-buttonset-2,
    .col-3 .ui-buttonset-4 {
        display: block;
    }

    .ui-buttonset-4 .ui-button {
        min-width: 5rem;
    }

    .ui-buttonset-4 + span {
        display: block;
        height: 2rem;
    }

    /* Stack Restaurant Hero Pages */
    .stat-display,
    .map-display {
        flex: 1;
        margin-right: 0;
    }

    .restaurant-flex {
        flex-direction: column;
    }

    .stat-buttons button{
        width: 25%;
    }

    .map-display {
        margin-top: 2rem;
    }

        .map-display img {
            width: 100%
        }
}

@media(max-width: 1050px) {
    /* Restaurants */
    .d-flex .col-3 .ui-fieldset-content {
        flex-direction: column;
        align-items: center;
    }

    /* Restaurant Hero Pages */
    .stat-buttons button{
        width: 30%;
    }
}


@media (max-width: 767.98px) {
    /* Collapse Navigation Menu */
    .menu {
        flex-direction: column;
        text-align: center;
    }

    .navigation-item {
        display: flex;
        justify-content: center;
        align-items: center;
    }

        .navigation-item:not(:last-child) {
            border-bottom: 1px dotted lightgray;
        }

    .navigation-item-wrapper {
        min-width: 10rem;
        text-align: left;
    }

    .main .top-row:not(.auth) {
        display: none;
    }

    .main .top-row.auth {
        justify-content: space-between;
    }

    .main .top-row a, .main .top-row .btn-link {
        margin-left: 0;
    }


    /* Restaurant Hero Pages: Stack Buttons */
    .stat-buttons {
        flex-direction: column;
    }
    
    .stat-buttons button {
        width: 80%;
        margin: .5rem auto;
    }
}

@media (min-width: 768px) {
    app {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .main .top-row {
        position: sticky;
        top: 0;
    }

    .navbar-toggler {
        display: none;
    }

    .sidebar .collapse {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
}