
@inherits ResizableCachedComponent

@if (Cache?.Cuisines == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenFieldset Text="Cuisine">
        @if (IsMedium)
        {
            <RadzenDropDown AllowClear="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                            @bind-Value="_selectedCuisines" class="filter-dropdown-mode" Multiple="true" Data="@Cache.Cuisines"
                            TextProperty="Name" ValueProperty="Id" Change="Change" />
        }
        else
        {
            <RadzenSelectBar TValue="IEnumerable<string>" class="cuisine-button-set" Multiple="true" @bind-Value="@_selectedCuisines"
                             Change="Change">
                <Items>
                    @foreach (var item in Cache.Cuisines)
                    {
                        <RadzenSelectBarItem Text="@item.Name" Value="@item.Id"/>
                    }
                </Items>
            </RadzenSelectBar>
        }
    </RadzenFieldset>
    
   
}

@code {

    IEnumerable<string> _selectedCuisines;
    bool IsMedium = false;

    protected override async Task OnInitializedAsync()
    {
        await Cache.GetCuisines();
    }

    private async void Change()
    {
        await Cache.FilterMethod(_selectedCuisines.ToArray());
    }

}
