@inherits LayoutComponentBase
<MediaQueryList>
    <div class="main ">
        <RadzenDialog />
        <RadzenNotification />
        <Header/>
        <RadzenMenu>
            <RadzenMenuItem Text="Restaurants" Path="restaurants" Icon="home"></RadzenMenuItem>
            <RadzenMenuItem Text="Map" Path="map" Icon="map"></RadzenMenuItem>
            <RadzenMenuItem Text="Contribute" Path="contribute" Icon="emoji_people"></RadzenMenuItem>
            <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
        </RadzenMenu>
        <div>
            @Body
        </div>
    </div>
</MediaQueryList>
