@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div class="main ">
    <div class="flex-row header justify-content-center">
        <RadzenPanel class="flex-column">
            <RadzenImage Path="images/header-logo.png" Style="height:2rem" />
            <RadzenIcon Icon="room" />
            <RadzenTextBox Placeholder="Search..." />
            <RadzenButton Text="Search" />
        </RadzenPanel>
        <RadzenImage Path="images/EugeneRestaurants-GoogleHeader.png" />
    </div>
    <RadzenMenu>
        <RadzenMenuItem Text="Restaurants" Path="restaurants" Icon="home"></RadzenMenuItem>
        <RadzenMenuItem Text="Map" Path="map" Icon="map"></RadzenMenuItem>
        <RadzenMenuItem Text="Contribute" Path="contribute" Icon="emoji_people"></RadzenMenuItem>
        <RadzenMenuItem Text="About" Path="about" Icon="info"></RadzenMenuItem>
    </RadzenMenu>
    <div>
        @Body
    </div>
</div>
