
@inherits ResizableCachedComponent

@if (Cache?.Tags == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <RadzenFieldset Text="Tags">
        @if (IsMedium)
        {
            <RadzenDropDown AllowClear="true" FilterCaseSensitivity="FilterCaseSensitivity.CaseInsensitive" 
                            @bind-Value="_selectedTags" class="filter-dropdown-mode" Multiple="true" Data="@Cache.Tags"
                            TextProperty="Name" ValueProperty="Id" Change="Change" />
        }
        else
        {
            <RadzenSelectBar TValue="IEnumerable<string>" class="tags-button-set" Multiple="true" @bind-Value="@_selectedTags" Change="Change">
                <Items>
                    @foreach (var item in Cache.Tags)
                    {
                        <RadzenSelectBarItem Text="@item.Name" Value="@item.Id"/>
                    }
                </Items>
            </RadzenSelectBar>
        }
    </RadzenFieldset>
    
   
}

@code {

    IEnumerable<string> _selectedTags;
    bool IsMedium = false;

    protected override async Task OnInitializedAsync()
    {
        await Cache.GetTags();
    }

    private async void Change()
    {
        await Cache.FilterTag(_selectedTags.ToArray());
    }

}
