@page "/restaurants"
@page "/"

<div class="d-flex home-flex">
    <RadzenFieldset Text="Filter" class="col-3 filter-section">
        <OrderingMethods/>
        <CuisineFilter/>
        <CategoryFilter/>
        <TagFilter/>
    </RadzenFieldset>
    <RadzenFieldset Text="Resturants">
        <ResturantList/>
    </RadzenFieldset>
</div>


@code {


   

}
